version: '3.8'

include:
  - docker-compose.base.yaml

services:
  authentication-service:
    build:
      context: .
      dockerfile: Dockerfile
    image: oldlab-authentication:${VERSION:-latest}
    container_name: authentication-service-prod
    hostname: authentication-service
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod

      DB_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_REDIRECT_URI: ${GOOGLE_REDIRECT_URI}
      FRONTEND_REDIRECT_URL: ${FRONTEND_REDIRECT_URL}
    
    depends_on:
      authentication-db:
        condition: service_healthy
      kafka:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      minio:
        condition: service_healthy
    
    networks:
      - auth-network
    
    restart: always
    
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  authentication-db:
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    deploy:
      resources:
        limits:
          memory: 1G

networks:
  auth-network:
    driver: bridge
