spring:
  application:
    name: oldLab
  security:
    strategy: MODE_INHERITABLETHREADLOCAL
    oauth2:
      client:
        registration:
          google:
            client-id: your-id
            client-secret: your-secret
            scope: email,profile
            redirect-uri: http://localhost:8080/login/oauth2/code/google
  datasource:
    url: jdbc:postgresql://authentication-db:5432/authenticationdb
    username: postgres
    password: 1
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    url: jdbc:postgresql://authentication-db:5432/authenticationdb
    user: postgres
    password: 1

  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: oldlab-client-group
      auto-offset-reset: earliest

  elasticsearch:
    uris: http://elasticsearch:9200

  # data:
  #   redis:
  #     host: redis
  #     port: 6379
  # cache:
  #   redis:
  #     time-to-live: 15m

server:
  port: 8080

logging:
  level:
    root: INFO

app:
  cleanup:
    cron: 0 0 0 * * ?
    timezone: CET

frontend:
  redirect:
    url: http://localhost:5173/oauth-success

minio:
  url: http://minio:9000
  access-key: 123456789qwerty123456789qwerty123456789qwerty
  secret-key: 123456789qwerty123456789qwerty123456789qwerty
  bucket:
    default: default-bucket
    persons: persons-bucket
    products: products-bucket

kafka:
  topic:
    message: message-topic
    report: report-topic
    review: review-topic
  dlt:
    message: message-dlt
    review: review-dlt
    report: report-dlt
  partition:
    message:
      sms: message-sms
      email: message-email
    review:
      create: review-create
      update: review-update
      delete: review-delete
    report:
      create: report-create
      update: report-update
      delete: report-delete

api:
  service:
    notification-reports: http://notification-service:8081/api/notifications

resilience4j:
  circuitbreaker:
    instances:
      default:
        register-health-indicator: true
        sliding-window-size: 10
        minimum-number-of-calls: 5
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 5s
        failure-rate-threshold: 50
        event-consumer-buffer-size: 10

max:
  photo:
    per:
      product: 5

jwt:
  secret:
    key: 123456789qwerty123456789qwerty123456789qwerty
    ttl: 15
  refresh:
    key: 123456789qwerty123456789qwerty123456789qwerty
    ttl: 30

rate:
  limiting:
    window:
      size:
        in:
          minutes: 1
    max:
      requests:
        per:
          window: 200