logging:
  level:
    root: INFO
    github.oldLab: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:your-dev-client-id}
            client-secret: ${GOOGLE_CLIENT_SECRET:your-dev-client-secret}
            scope: email,profile
            redirect-uri: http://localhost:8080/login/oauth2/code/google

frontend:
  redirect:
    url: http://localhost:5173/oauth-success
