spring:
  application:
    name: oldLab
  jackson:
    property-naming-strategy: SNAKE_CASE
    threads:
      virtual:
        enabled: true
    
  datasource:
    url: jdbc:postgresql://oldlab-client-db:5432/oldlabclientdb
    username: postgres
    password: 1
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    url: jdbc:postgresql://oldlab-client-db:5432/oldlabclientdb
    user: postgres
    password: 1

  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: oldlab-client-group
      auto-offset-reset: earliest

  elasticsearch:
    uris: elasticsearch:9200

  data:
    redis:
      host: redis
      port: 6379
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8 #bad machine, default is 8
          max-idle: 8
          min-idle: 0

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

server:
  port: 51730

logging:
  level:
    root: INFO

app:
  cleanup:
    cron: 0 0 0 * * ?
    timezone: CET
  activation-ttl-minutes: 15
  inactive-account-ttl-days: 1

minio:
  url: http://minio:9000
  access-key: 123456789qwerty123456789qwerty123456789qwerty
  secret-key: 123456789qwerty123456789qwerty123456789qwerty
  bucket:
    default: default-bucket
    persons: persons-bucket
    products: products-bucket

kafka:
  topic:
    report: report-topic
    review: review-topic
  dlt:
    review: review-dlt
    report: report-dlt
  partition:
    review:
      create: review-create
      update: review-update
      delete: review-delete
    report:
      create: report-create
      update: report-update
      delete: report-delete

api:
  service:
    notification-reports: http://notification-service:51740/api/notifications

resilience4j:
  circuitbreaker:
    instances:
      default:
        register-health-indicator: true
        sliding-window-size: 10
        minimum-number-of-calls: 5
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 5s
        failure-rate-threshold: 50
        event-consumer-buffer-size: 10

max:
  photo:
    per:
      product: 5