# Application
spring:
	application:
		name: oldLab

# Server
server:
	port: 8080

# Security
# Inheritable SecurityContext across threads
spring:
	security:
		strategy: MODE_INHERITABLETHREADLOCAL

# logging.level.root: DEBUG

# Schedule
app:
	cleanup:
		cron: 0 0 0 * * ?
		timezone: CET

# PostgreSQL
spring:
	datasource:
		url: jdbc:postgresql://authentication-db:5432/authenticationdb
		username: postgres
		password: "1"
		driver-class-name: org.postgresql.Driver

# JPA/Hibernate
spring:
	jpa:
		# hibernate:
		#   ddl-auto: update
		show-sql: true
		properties:
			hibernate:
				dialect: org.hibernate.dialect.PostgreSQLDialect
				format_sql: true
				jdbc:
					lob:
						non_contextual_creation: true

# MinIO Configuration
minio:
	url: http://minio:9000
	access-key: "123456789qwerty123456789qwerty123456789qwerty"
	secret-key: "123456789qwerty123456789qwerty123456789qwerty"
	bucket:
		default: default-bucket
		persons: persons-bucket
		products: products-bucket

# Flyway
spring:
	flyway:
		enabled: true
		locations: classpath:db/migration
		baseline-on-migrate: true
		url: jdbc:postgresql://authentication-db:5432/authenticationdb
		user: postgres
		password: "1"

# Kafka (Spring)
spring:
	kafka:
		bootstrap-servers: kafka:9092
		producer:
			key-serializer: org.apache.kafka.common.serialization.StringSerializer
			value-serializer: org.apache.kafka.common.serialization.StringSerializer
		consumer:
			group-id: oldlab-client-group
			auto-offset-reset: earliest
			properties:
				spring.json.trusted.packages: github.oldLab.oldLab.dto.*

# topics
kafka:
	topic:
		message: message-topic
		review: review-topic
		report: report-topic
	dlt:
		message: message-dlt
		review: review-dlt
		report: report-dlt

	partition:
		message:
			sms: message-sms
			email: message-email
		review:
			create: review-create
			update: review-update
			delete: review-delete
		report:
			create: report-create
			update: report-update
			delete: report-delete

# REST Configuration
api:
	service:
		"notification-reports": http://notification-service:8081/api/notifications

# Resilience4j Circuit Breaker
resilience4j:
	circuitbreaker:
		instances:
			default:
				register-health-indicator: true
				sliding-window-size: 10
				minimum-number-of-calls: 5
				permitted-number-of-calls-in-half-open-state: 3
				automatic-transition-from-open-to-half-open-enabled: true
				wait-duration-in-open-state: 5s
				failure-rate-threshold: 50
				event-consumer-buffer-size: 10

# elasticsearch
elasticsearch:
	host: elasticsearch:9200
spring:
	elasticsearch:
		uris: http://elasticsearch:9200

# Redis
spring:
	data:
		redis:
			host: redis
			port: 6379
	cache:
		redis:
			time-to-live: PT15M

# Business logic
max:
	photo:
		per:
			product: 5

refreshTokenTTL: 30

jwt:
	secret: "123456789qwerty123456789qwerty123456789qwerty"

refresh:
	token:
		secret: "123456789qwerty123456789qwerty123456789qwerty"
